main{
    width: 100%;
    margin-bottom: 100px;
}

.heroblurb{
    width: 70%;
    margin: 50px auto;
}

.section1 h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    text-align: center;
    color: #373737;
}

.heroText{
    width: 90%;
    margin: -20px auto auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 43.2px;
    text-align: center;
    color: #373737;
}

.heroButtons{
    margin-top: 50px;
    width: 65%;
    margin: 10px auto;
}

.heroButton{
    width: 250px;
}

.heroButton i{
    font-weight: 700;
    color: white;
    padding-left: 16px;
}

.button1{
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #6FC247;
    padding: 20px 20px; 
    border-radius: 16px;
    height: 20px;
    margin-right: 20px;
}

.button2{
    text-align: center;
    width: 100%;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    color: #6FC247;
    padding: 18px 50px; 
    border-radius: 16px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #6FC247;
}

.heroImage{
    width: 85%;
    margin: auto;
}

.heroImage img{
    width: 100%;
}


@media(max-width:700px){
    .heroblurb{
        width: 100%;
    }

    .section1 h1{
        font-size: 35px;
        line-height: 55px;
    }
    
    .heroText{
        width: 100%;
        font-size: 16px;
        line-height: 35px;
    }

    .heroButtons{
        width: 95%;
    }

    .heroButton{
        width: 50%;
    }

    .button1{
        font-size: 12px;
        padding: 20px 10px; 
        margin-right: 10px;
    }
    
    .button2{
        font-size: 12px;
        padding: 18px 20px; 
    }

    

}



@media(max-width:1050px){
    .heroblurb{
        width: 85%;
    }
    
    .heroText{
        width: 85%;
    }

    .heroButtons{
        width: 100%;
    }
}