/*Body Styling*/
body {
  font-family: "Manrope";
  margin: 0;
}

/*Nav Bar Stylings*/
header {
  width: 100%;
  margin: auto;
}

.navBar {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 7.5%;
  box-shadow: 0px 4px 4px 0px #0000000d;
}

.logo {
  padding: 40px 0;
  width: 169.85px;
  height: 23px;
  align-self: flex-start;
}

.logo img {
  width: 100%;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menuItems {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.menuItems li {
  list-style: none;
}

.menuItems li a {
  font-weight: 700;
  font-size: 17px;
  color: #636363;
  line-height: 27.32px;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
}

.menuItems li a:hover {
  color: #065666;
}

.menuItems .active {
  color: #065666 !important;
}

.menuItems .down {
  padding-left: 15px;
}

.icon {
  color: #636363;
  display: none;
  cursor: pointer;
  margin-right: 1.5rem;
}

.homeButton {
  width: 250px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.button {
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #6fc247;
  padding: 20px 30px;
  border-radius: 16px;
  height: 20px;
}

.homeButton i {
  font-weight: 700;
  color: white;
  padding-left: 10px;
}

.flexDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexOnly {
  display: flex;
  justify-content: center;
}

.responsiveMenu {
  display: none;
  width: 300px;
  right: 0;
  opacity: 0;
  background-color: #6fc247;
  position: absolute;
  padding: 1rem;
  border-radius: 10px 0 0 10px;
  transition: opacity 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.responsiveMenu.open {
  opacity: 1;
}

.responsiveMenuItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.responsiveMenuItems li {
  list-style: none;
}

.responsiveMenuItems li a {
  font-weight: 700;
  font-size: 17px;
  color: white;
  line-height: 27.32px;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
}

.responsiveMenuItems li a:hover {
  color: #065666;
}

.responsiveMenuItems .active {
  color: #065666 !important;
}

.responsiveMenuItems .down {
  padding-left: 15px;
}

@media (max-width: 1250px) {
  .logo img {
    width: 90%;
  }

  .menuItems li a {
    font-size: 14px;
  }

  .homeButton {
    width: auto;
  }

  .button {
    padding: 20px;
    font-size: 13px;
  }
}

@media (max-width: 1050px) {
  .menuItems li a {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .icon {
    display: block;
  }

  .menu {
    display: none;
  }

  .responsiveMenu {
    display: block;
  }
}

@media (max-width: 500px) {
  .homeButton {
    display: none;
  }
}
