.section3{
    margin: 70px auto 50px;
    width: 100%;
    background-color: black;
    padding: 30px 0 50px;
}

.whyValuticoTexts{
    width: 70%;
    margin: auto;
    text-align: center;
    color: white;
}

.whyValuticoTexts h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 54.64px;
    text-align: center;
}

.whyValuticoTexts p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #D7D7D7;
}

.reasonWhy{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.reason{
    width: 32%;
    margin: auto;
}

.reason h3{
    font-size: 22px;
    font-weight: 800;
    line-height: 32.78px;
    text-align: left;
    color: white;
}

.reason p{
    color: #D7D7D7;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}


@media(max-width:1000px){
    .whyValuticoTexts{
        width: 85%;
    }

    .reasonWhy{
        display: block;
        margin-top: 80px;
        width: 90%;
    }

    .reason{
        width: 95%;
        margin: auto;
        margin-bottom: 40px;
    }

    .reason h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 24.59px;
    }
    
    .reason p{
        font-size: 16px;
        line-height: 25px;
    }
}
